<html>

<head>

  <script src="https://unpkg.com/realm-web/dist/bundle.iife.js"></script>
  <script src="https://unpkg.com/vue@3"></script>

  <style>

  </style>
  <script>
    const APP_SERVICE_ID = "jobtrackerrealmapp-mlapp";
    let vueApp;

    function tryLogin(email, password) {
      const credentials = Realm.Credentials.emailPassword(email, password);
      /* Blank out PW on sucessful login*/
      vueApp.realmApp.logIn(credentials)
        .then((u) => { vueApp.realmuser = u; vueApp.fetchJobs() })
        .catch((e) => { vueApp.message = e.error });
    }

    function fetchJobs() {
      if (vueApp.realmApp.currentUser) {
        vueApp.realmuser.functions.getJobList()
          .then((jobs) => { vueApp.jobs = jobs })
          .catch((e) => { vueApp.message = e.error });
      }
    }

    function onLoad() {
      const { createApp } = Vue
      const realmApp = new Realm.App({ id: APP_SERVICE_ID });
      console.log(realmApp);
      vueApp = createApp({
        methods: { tryLogin },
        data() {
          return {
            username: "dispatch",
            password: "",
            realmuser: realmApp.currentUser,
            message: "",
            jobs: []
          }
        },
        mounted() {
          this.realmApp = realmApp; /* Non reactive */
        },
      }).mount("#vueapp")
      console.log(vueApp)
      fetchJobs();

    }

  </script>
</head>

<body onLoad="onLoad()">
  <div id="vueapp">

    <div v-if="!realmuser" id="login">
      User: <input v-model="username" />
      Password <input v-model="password" type="password">
      <button @click="tryLogin(username,password)">Login</button>
    </div>
    <div v-else id="joblist">
      Job Track
      <button @click="realmuser.logOut();realmuser=null;">Logout</button>
      <table class="listview" id="listviewheaderrow">
        <tr>
            <th v-for="header in ['Time','Description','Status','User']">{{header}}<th>
        </tr>
        <tr v-for="job in jobs">
          <th v-for="fname in ['creatindate','desc','status','user']">{{job[fname]}}<th>
        </tr>
    </table>
    </div>
    <div class="message">{{message}}</div>
  </div>
</body>

</html>